body{
    width: 1000px;
    margin: auto;
 }

 header{
     display: inline-block;
     /* border: 1px solid black; */
     color: grey;
     text-decoration:none;
     text-align: center;


 }

 header td{
     padding-right: 100px;
     text-decoration: none;
 }
 td a{
    
    text-decoration: none;
}

 /* .nav-left { */
	/* padding: 0; margin: 0; */
    /* border: 1px solid black; */
  
    
}

/* .nav-left a{ */
	/* padding: 0; 
    border: 1px solid black;
	text-align: left; 
    margin-top: 100px;
    text-decoration: none; */
    
}

/* .nav-right{ */
    padding: 0; 
    margin-top: 0px;
	/* text-align: right;  */
    border: 1px solid black;
    margin-left: 800px;
    margin-top: -19px;
    display: inline-block;
    
}

/* .nav-right a{
	padding: 0; 
    border: 1px solid black;
	text-align: left; 
    margin-top: 100px;
    text-decoration: none; */
}

/* .nav-right #links {
	display: inline;
	list-style: none;
    word-spacing: 10px;
    border: 1px solid black;
    text-align: right;
       
}
 */
/* #nav a {
	display:inline-block;
	margin: 0 30px;
    background-color:rgb(212, 209, 209);
    color: grey;
    border: 1px solid black;
}
  */
h1, h2{
    color: red;
}
#mail {
    color:black;
}

img{
    width: 150px;
    height: 100px;
    align-items: center;
   

}
.projets{
    padding-top: 1%;
    background-color: grey;
    width: 100%;
    border: black; 
    margin:auto ;
}
.contact{
    padding-top: 5%;
    background-color: yellow;
    width: 100%;
    border: black;
    margin-bottom: 10px;  
      
}

.contact img{
    padding: center;
    margin: center;

}
.Bienvenue{
   
    padding-bottom: 10%;
    background-color: blue;
    width:100%;
    border: black;
}

.Bienvenue h2{
    color: white;
    font-size: 20px;
    padding-right: 0;
    
}
h3{
    : center;
}
.python-img{
    padding-left: 600px;
    margin-top: 0;

}

.email{
border: 5px solid black;
display:inline-block;


}
.mailing-left{
    padding-right: 10px;
    display: block;
    padding-bottom: -10px;
    
    border: black 1px;
   
}
.mailing-right{
    text-align: right;
    
}